$danger: red;
$empty: gray;
$inProgress: #4caf50;

.bg-full {
  color: #fff !important;
  background-color: $danger !important;
}

.bg-empty {
  background-color: $empty !important ;
}

.bg-in-progress {
  color: #fff !important;
  background-color: $inProgress !important;
}

.container-light-grey {
  color: #000 !important;
  border: .05em solid gray;
  margin: 1em;
  height: 2em;
}
.progress {
  text-align: center;
  font-size: large;
  content: "";
  display: block;
  height: 1.8em;
}
