$active: #4caf50; /* Green */
header {
  text-align: center;
}
.content {
  min-height: calc(100vh - 11vh);
  padding: 10px;
  background-color: white;
  text-align: center;
}
footer {
  font-size: 0.8em;
  color: gray;
  text-align: right;
  padding: 10px;
}
button {
  border-radius: 5px;
  min-width: 4em;
  background-color: darkgray;
  border: none;
  color: white;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24),
      0 10px 10px 0 rgba(0, 0, 0, 0.19);
}
