<div>
  <header>
    <h3> {{title}}</h3>
  </header>
  <div class="content" role="main">
    <ng-container *ngFor="let bar of barsData.bars; index as i">
      <app-progress-bar [id]="i" [progress]="bar"> {{ bar }} </app-progress-bar>
    </ng-container>
<div>
    <select [(ngModel)]="selectBarId">
      <option value=undefined>None</option>
      <option *ngFor="let barRef of bars" [value]="barRef.id">Progress bar #{{barRef.id}}</option>
    </select>
      <ng-container *ngFor="let button of barsData.buttons;">
        <button (click)="onButtonClick(0, button, barsData.limit)">{{button}}</button>
      </ng-container>

  </div> <!-- Footer -->
  <footer>
   Written by <i>Sanatkumar Sadakale</i>
  </footer>

</div>

<router-outlet></router-outlet>
