header {
  text-align: center;
}
.content{
    min-height: calc(100vh - 11vh);
    padding: 10px;
    background-color: white;
}
footer {
  font-size: 0.8em;
  color: gray;
  text-align: right;
  padding: 10px;;
}
