/* You can add global styles to this file, and also import other style files */

$white:    #fff !default;
$background: #f1f1f1;

:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-active-color: #4caf50;
  --main-hover-color: #ddd;
  background-color: $background;
  margin: 10px;
}
